<%- include('partials/header') %>
<h1>Kaamelott Fanclub</h1>

<section>
  <h2>Les meilleures citations</h2>

  <form action="/saison" method="get">
    <select name="choixSaison" id="">
      <option value="1">Saison 1</option>
      <option value="2">Saison 2</option>
      <option value="3">Saison 3</option>
      <option value="4">Saison 4</option>
      <option value="5">Saison 5</option>
      <option value="6">Saison 6</option>
    </select>

    <button>Valider</button>
  </form>
  <ul>
    <% for (const quote of quotes) { %>
      <li>
        <%= quote.content %><br> 
        &mdash; <%= quote.character %>, saison <%= quote.season %>
      </li>
    <% } %>
  </ul>
</section>

<section>
  <h2>Le coin des fans</h2>
  <form method="post" action="/">
    <label>
      Mais alors, le code, c'est quoi ?
      <input type="text" name="answer">
    </label>
    <button type="submit">Valider</button>
  </form>
</section>

<section>
  <h2>Enigme</h2>
</section>

<%- include('partials/footer') %>